
body{
    background-color: rgb(231, 247, 241);
    
}

.narv {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    

}

.list {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    
}


.listt {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.but {
    padding: 15px;
    border: none;
    border-radius: 8px 8px 8px 0px;
    background-color: orange;
    color: white;
}

button:hover {
    background-color: aquamarine;
    color: red;
} 


.butt {
        padding: 15px;
        border: none;
        border-radius: 8px 8px 8px 0px;
        background-color: orange;
        color: white;
        font-weight: bold;
    
}

.listtt {
    position: relative;
    display: inline-block;
}

.listtt {
    display: block;
}

.drpbut {
    background-color: #f3f5f3;
    color: rgb(54, 51, 51);
     padding: 1px;
     font-size: 16px;
     border: none;
    cursor: pointer;
    
}

.dpbt {
    display: none;
    position: absolute;
    background-color: azure;
    min-width: 90px;
    box-shadow: 0px 4px 6px 0px;
    z-index: 1;
}

.dpbt a:hover {background-color: antiquewhite;}



.dpbt a {
    color: black;
  padding: 8px 8px;
  text-decoration: none;
  display: block;
}

.listtt:hover .dpbt {
    display: block;
}
.txt {
    letter-spacing: 2px;
    max-width: 500px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.girl {
    position: absolute;
    right: 60px;
    top: 160px;
}

.grl {
    border-radius: 35px 80px 0px 150px;
}

.rec {
    position: absolute;
    left: 400px;
    bottom: 140px;
    box-shadow: 1px 0px 1px 1px;
}

.rev {
    position: absolute;
    left: 500px;
    bottom: 30px;
    box-shadow: 1px 0px 1px 1px;
}

.br {
    border-radius: 0px 20px 20px 20px;
}

.trans {
    position: absolute;
    left: 420px;
    top: 340px;
    
}

.tran {
    position: absolute;
    left: 750px;
    bottom: 40px;
}

.mar {
    position: absolute;
    left: 525px;
    bottom: 150px;
    max-width: 150px;
}

.alh {
    position: absolute;
    left: 525px;
    bottom: 46px;
}

.trsct {
    position: absolute;
    right: 550px;
    top: 670px;
    max-width: 300px;
    max-height: 600px;
}

.sign {
    position: absolute;
    left: 150px;
    bottom: -350px;
    max-width: 200px;
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.sup {
    position: absolute;
    left: 150px;
    bottom: -520px;
    max-width: 200px;
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.fst {
    position: absolute;
    right: 150px;
    bottom: -385px;
    max-width: 200px;
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.leg {
    position: absolute;
    right: 150px;
    bottom: -650px;
    max-width: 200px;
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.mon {
    margin: 0px;
    position: absolute;
    bottom: -1250px;
    left: 0px;
    max-width: 1850px;
    max-height: 700px;
}

.fee {
    position: relative;
    bottom: -770px;
    font-size: larger;
    text-align: center;
}

.sen {
    color: red;
    font-size: 50px;
}

.mak {
    color: white;
    font-size: 20px;
}

.scn {
    position: absolute;
    left: 207px;
    bottom: 80px;
    color: rgb(11, 11, 247);
    font-family: Arial, Helvetica, sans-serif;
}

.foot {
    position: absolute;
    bottom: -3300px;
}

.com {
    position: absolute;
    bottom: -3280px;
    left: 500px;
    line-height: 40px;
    color: blue;
    width: 90px;
}
.com a {
    text-decoration: none;
}

.comm {
    position: absolute;
    bottom: -3280px;
    left: 700px;
    line-height: 40px;
    color: blue;
    width: 80px;
}
.comm a {
    text-decoration: none;
}

.commm {
    position: absolute;
    bottom: -3280px;
    left: 900px;
    line-height: 40px;
    color: rgb(63, 63, 156);
    max-width: 80px;
}
.commm a {
    text-decoration: none;
}

.cust {
    position: absolute;
    bottom: -1450px;
    left: 350px;
    font-size: 50px;
    color: rgb(63, 63, 156);
    max-width: 700px;
}

.man1 {
    position: absolute;
    bottom: -1840px;
    max-width: 400px;
    left: 100px;
    border-radius: 0px 50px 50px 50px;
    
}

.woman1 {
    position: absolute;
    bottom: -1840px;
    max-width: 320px;
    left: 500px;
    border-radius: 0px 50px 50px 50px;
    
}

.bsuwe {
    max-width: 150px;
    line-height: 25px;
    position: absolute;
    bottom: -1850px;
    left: 200px;
    color: white;
    font-weight: bolder;
    z-index: 3; 
    font-family: Arial, Helvetica, sans-serif;   
}

.monic {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 130px;
    line-height: 25px;
    position: absolute;
    bottom: -1820px;
    left: 600px;
    color: white;
    font-weight: bolder
    z-index: 3; 
   
}

.clr {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: -1840px;
    max-width: 370px;
    left: 900px;
    border-radius: 0px 50px 50px 50px;
    
}

.claire {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 160px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: -1780px;
    left: 1030px;
    color: white;
    font-weight: bolder;
    z-index: 3; 
      

}

.blu {
    position: absolute;
    left: 0px;
    width: 1350px;
    height: 500px;
    bottom: -2490px;
    z-index: -3;
}

.story {
    position: absolute;
    bottom: -2090px;
    color: red;
    left: 600px;
    font-weight: bold;
}

.mis {
    position: absolute;
    bottom: -2250px;
    color: rgb(63, 63, 156);
    left: 500px;
    width: 500px;
    font-weight: bold;
    font-size: 25px;
}

.stry {
    position: absolute;
    bottom: -2300px;
    padding: 15px;
    left: 650px;
        border: none;
        border-radius: 8px 8px 8px 0px;
        background-color: rgb(226, 129, 83);
        color: white;
        font-weight: bold;
}

.ppy {
    max-width: 300px;
    border-radius: 0px 55px 0px;
    left: 0px;
    position: absolute;
    bottom: -2250px;
}

.bl {
    position: absolute;
    left: 200px;
    border-radius: 0px 90px 0px;
    width: 950px;
    height: 480px;
    bottom: -3050px;
    z-index: -3;
}

.mgirl {
    position: absolute;
    bottom: -2750px;
    height: 240px;
    left: 100px;
    border-radius: 25px;
}

.bcode {
    position: absolute;
    bottom: -3000px;
    left: 500px;
}

.scnn {
    position: absolute;
    bottom: -3000px;
    color: rgb(63, 63, 156)e;
    font-size: 20px;
    width: 250px;
    left: 630px;
}

.simp {
    position: absolute;
    bottom: -2860px;
    color: rgb(63, 63, 156);
    font-size: 20px;
    width: 500px;
    left: 500px;
}

.mw {
    position: absolute;
    bottom: -3050px;
    height: 200px;
    right: 200px;
    border-radius: 25px;
}

.gets {
    position: absolute;
    bottom: -2700px;
    color: red;
    width: 400px;
    font-weight: bolder;
    left: 500px;
}

.rect1 {
    width: 350px;
    border-radius: 20px;
}

.rect2 {
    width: 350px;
    border-radius: 20px;
}

.form {
    position: absolute;
    left: 285px;
    top: 165px;
    color: red;
    font-weight: bold;
}

.form2 {
    position: absolute;
    left: 640px;
    top: 165px;
    color: red;
    font-weight: bold;
}

.dollar {
    height: 20px;
}

.euro {
    height: 20px;
}
.trans-mon {
    font-family: Arial, Helvetica, sans-serif;
}